.button-button{
    height: 2.5rem;
    min-width: 2.5rem;
    border-radius: 3rem;
    background: linear-gradient(112.69deg, #0C8CE9 -1.31%, #6310A4 100.69%);
    /*font-size: 1.5rem;*/
    color: white;
    border:none;
    cursor: pointer;
}

.small {
    width: 2.5rem;
}

.medium {
    width: 5rem;
}

.large {
    width: 10rem;
}

.full {
    width: 100%;
}